# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.pdb
*.ilk
*.exp
*.opendb
*.db
*.sdf
*.VC.db
*.opendb
*.log
*.tlog

# Compiled Dynamic libraries
*.so
*.dylib
*.pyd
*.pyc

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
